<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dz.dangerhouse.mapper.DetectionMapper">

    <select id="countByRiskLevel" resultType="java.lang.Long">
        SELECT COUNT(*) FROM detection
        WHERE risk_level = #{riskLevel}
    </select>

</mapper>
